:root{
  --lightestBlue: rgb(247,247,247);
  --hoverBlue: rgb(242,251,254);
  --lightBlue: #e5ebee;
  --Blue: rgb(0,118,182);
  --darkBlue: #00395d;
  --backgroundGray: #bfbfbf;
  --borderGray: #e6e6e6;
}